<% title _("Boot disks") %>
<%= title_actions link_to(_('Back'), :back) %>

<div id="welcome">
  <p>
    <%= _('Various types of boot disks can be created to provision hosts without the need for PXE services.  Boot disks can be attached to the host (physical or virtual) which boots from the disk, contacts Foreman and begins the OS installation.') %>
  </p>
  <p>
    <%= _('All images are usable as either ISOs or as disk images, including being written to a USB disk with `dd`.') %>
  </p>

  <h2><%= _('Host image') %></h2>
  <p>
    <%= _("Per-host images contain data about a particular host registered in Foreman and set up fully static networking, avoiding the requirement for DHCP.  After networking is configured, they chainload from Foreman, picking up the current OS configuration and build state from the server.") %>
  </p>
  <p>
    <%= _("Once chainloaded, the OS bootloader and installer are downloaded directly from the installation media configured in Foreman, and the provisioning script (kickstart/preseed) is downloaded from Foreman.") %>
  </p>

  <h2><%= _('Full host image') %></h2>
  <p>
    <%= _('A variant of the per-host image which contains the OS bootloader embedded inside the disk.  This may be useful if chainloading fails on certain hardware, but has the downside that the image must be regenerated for any change in the OS, bootloader or templates.') %>
  </p>

  <h2><%= _('Generic image') %></h2>
  <p>
    <%= _('Generic images are a reusable disk image that works for any host registered in Foreman.  It requires a basic DHCP and DNS service to function and contact the server, but does not require DHCP reservations or static IP addresses.') %>
  </p>
  <p>
    <%= _('The OS install continues using the installation media configured in Foreman, and it will typically configure static networking, depending on how the OS iPXE template is configured.') %>
  </p>

  <h2><%= _('Subnet image') %></h2>
  <p>
    <%= _('Subnet image is similar to generic image, but chain-loading is done via TFTP Smart Proxy assigned to Subnet of the host. The smart proxy must have "Templates" module enabled and configured.') %>
  </p>
  <p>
    <%= _('This image is generic for all hosts with provisioning NIC on that subnet.') %>
  </p>
</div>
